<ons-page id="home">

    <ons-navigator swipeable id="myNavigator" page="page1.html"></ons-navigator>
    <template id="page1.html">
        <ons-page id="Home">
            <ons-carousel swipeable auto-scroll overscrollable id="carousel">
                <ons-carousel-item >
                    <div style="text-align: center; font-size: 30px; ">
                        <img class="img"  src="assets/image/BH6.jpg" alt="" id="detail1">
                    </div>
                </ons-carousel-item>
                <ons-carousel-item >
                    <div style="text-align: center; font-size: 30px; ">
                        <img class="img" src="assets/image/SV.jpg" alt="" id="detail2">
                    </div>
                </ons-carousel-item>
                <ons-carousel-item >
                    <div style=" text-align: center; font-size: 30px; ">
                        <img class=" img " src="assets/image/SAF.jpg" alt=" " id="detail3">
                    </div>
                </ons-carousel-item>
        
            </ons-carousel>
            <div class=" title ">TOP 10 MOVIE</div>
        </ons-page>
    </template>
</ons-page>