<ons-page id="search">
    <p style="text-align: center; margin-top: 10px;">
        <ons-search-input placeholder="Search" onchange="ons.notification.alert('Searched for: ' + this.value)">
        </ons-search-input>


    </p>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="assets/image/THO1.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">The hangover</span>
            <span class="list-item__subtitle">Three buddies wake up from a bachelor party in Las Vegas, with no memory of the previous night and the bachelor missing. 
                They make their way around the city in order to find their friend before his wedding...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-outline">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="assets/image/THO2.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">The hangover II</span>
            <span class="list-item__subtitle">Two years after the bachelor party in Las Vegas, Phil, Stu, Alan, and Doug jet to Thailand for Stu's wedding. Stu's plan for a subdued pre-wedding brunch, 
                however, goes seriously awry...</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star-half">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>

    <ons-list-item>
        <div class="left">
            <img class="list-item__thumbnail img-search" src="assets/image/THO3.jpg">
        </div>
        <div class="center">
            <span class="list-item__title bold">The hangover III</span>
            <span class="list-item__subtitle">When one of their own is kidnapped by an angry gangster, the Wolf Pack must track down Mr. Chow, who has escaped from prison and is on the run.....</span>
            <span class="list-item__subtitle bold">Ratings</span>
            <span class="list-item__subtitle bold">
                <div class="icon-center">
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                    <ons-icon class="icon" icon="md-star">
                    </ons-icon>
                </div>
            </span>
        </div>
    </ons-list-item>



</ons-page>